@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.tasiyici {
     width: 1300px; margin-left: 20px; margin-right: 20px; 
     background: rgba(204, 204, 204, 0.199);
}
/* .ustbolum {
    height: 100px;
    width: 1330px;
    
    background: #ffffff86;
} */
.fotobolum {
     width: 1300px;
    height: 950px;
    background: rgb(255, 255, 255);
    /* overflow: hidden; */
}
.altbolum {
    width: 1300px;
    height: 800px; 
    background: rgb(255, 254, 254);
    border-top: 1px solid rgba(163, 161, 161, 0.438);
}

.clear {clear: both;}
.img{
     width: 1300px;
     margin-left: 0px;
     margin-top: 30px;
     margin-right: 40px;
}
#navbar {
position: fixed;
top: 10px;
left: 10px;
z-index: 1;
width: 1300px;
height: 90px;
background: rgba(238, 238, 238, 0.267);
border: 1px solid rgba(255, 255, 255, 0);
text-align: right;
/* margin-left: 6px; */
margin-left: 9px;
}
#navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    font-family: Roboto;
    font-size: 15px;
    
}
#navbar ul{
    margin-right: 40px;
    padding-bottom: 20px;
}
#navbar .h1 .crm{
    padding-right: 800px;
}
#navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: Roboto;
    
}
#navbar ul li a:hover{
    transition: 0.8s;
    color: rgb(80, 77, 77);
}
.fotobolum ul li{
    list-style: none;
}

.fotobolum h1{
    padding-left: 180px;
    margin-left: 460px;
    
}
.fotobolum h4{
    margin-top: 50px;
    margin-left: 460px;
    
}
.fotobolum .img1{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
  background: white;
    

}
.fotobolum .img2{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
    

}
.fotobolum .img3{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
    

}
.fotobolum .img4{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
    

}
.fotobolum .img5{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
    

}
.fotobolum .img6{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
    

}
.fotobolum .img7{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
    

}
.fotobolum .img8{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
    

}
.altbolum .h1{
    margin-left: 500px;
}
.altbolum ul{
    padding-left: 50px;
}
.altbolum ul li{
    
    list-style: none;
    float: left;
    
}
.altbolum .cls1{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
}
.altbolum .cls2{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
}
.altbolum .cls3{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
}
.altbolum .cls4{
    float: left;
  margin-left: 50px;
  margin-top: 30px;
}
.altbolum .crmftr{
    margin-left: 500px;
    margin-top: 250px;
}

.fab {
    padding: 8px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

}
.fab:hover {
    opacity: 0.6;
}
.fa-facebook-f {
    background: #ffffff;
    color: rgb(0, 0, 0);
}
.fa-instagram {
    background: #ffffff;
    color: rgb(0, 0, 0);
}
.altbolum .footer {
    display: block;
}
.altbolum .buttons .button{
    border: 1px solid black;
    background: white;
    color: black;
}

.clear {clear: both;}

